alembic==1.4.2
Authlib==0.14.3
Flask==1.1.2
Flask-Cors==3.0.8
Flask-Dance==3.0.0
Flask-Mail==0.9.1
flask-marshmallow==0.12.0
Flask-Migrate==2.5.3
Flask-RESTful==0.3.8
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
google-api-core==1.17.0
google-api-python-client==1.8.3
google-auth==1.15.0
google-auth-httplib2==0.0.3
googleapis-common-protos==1.51.0
marshmallow==3.6.1
marshmallow-sqlalchemy==0.23.1
python-dotenv==0.13.0
Werkzeug==1.0.0
pymysql==0.9.3
Flask-JWT-Extended==3.24.1
bcrypt==3.1.7
pycparser==2.19
flask_jwt
pytest
